{% extends "base.html" %}
{% block content %}

<ul>
    {% for st,title in statuses.items %}
        <li>
            {% if status == st %}
            <span>{{ title }}</span>,
            {% else %}
                <a href="{% url 'tasks_index' st %}">{{ title }}</a>,
            {%endif %}
        </li>
    {% endfor %}
</ul>
{% if latest_tasks_list %}
    <form method="POST" action="{% url 'do_action' %}" >
        <table class="standart">
            <tbody>
                <tr>
                    <th>Выбрать</th>
                    <th>№</th>
                    <th>Задача</th>
                    <th>Крайняя дата выполнения</th>
                    <th>Статус</th>
                </tr>
                {% for task in latest_tasks_list %}
                    <tr>
                        <td><input type="checkbox" value="{{ task.id }}" name="task_id[]"/></td>
                        <td>{{ task.id }}</td>
                        <td><a href="{% url 'detail' task.id %}">{{ task.task_title }}</a></td>
                        <td>{{ task.deadline_date|date:"d.m.Y" }}</td>
                        <td>{% if task.done %} Выполнена {% endif %} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <input type="hidden" name="status" value="{{ status }}" />
        {% csrf_token %}
        <select name="act">
            <option disabled selected>Выберите действие</option>
            {% for action, title in actions.items %}
                <option value="{{ action }}">{{ title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Выполнить действие">
    </form>



{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}