{% extends "base.html" %}
{% block content %}


{% for st in statuses %}
    {% if status == st %}
        <span>{{ st }}</span>,
    {% else %}
        <a href="{% url 'index' st %}">{{ st }}</a>,
    {% endif %}
{% endfor %}

{% if latest_tasks_list %}
    <form method="post" action="">
        <table class="standart">
            <tbody>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Deadline date</th>
                    <th>Done or Not</th>
                </tr>
                {% for task in latest_tasks_list %}
                    <tr>
                        <td><input type="checkbox" value="{{ task.id }}" name="task_id[]"/></td>
                        <td>{{ task.id }}</td>
                        <td><a href="{% url 'detail' task.id %}">{{ task.task_title }}</a></td>
                        <td>{{ task.deadline_date|date:"d.m.Y" }}</td>
                        <td>{% if task.done %} Done {% endif %} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Submit">
    </form>

    <a href="{% url 'add' %}">Add new</a>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}